@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    
    @apply font-sans bg-background text-slate-900 antialiased;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }
}